.post-container {
  display: flex;
  width: 70vw;
  margin: auto;
  flex-wrap: wrap;
  margin-top: 20px;
}

.error-message {
  color: #31353B;
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}

.loading-message {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #31353B;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
}

.spinner {
  animation: spin 0.4s ease infinite;
  font-size: 30px;
  margin-right: 10px;
  color: #E94589;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  } 
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}