.post-card {
  transform: scale(0.95);
}

.post-card img {
  width: 150px;
  height: 150px;
}

.post-infos {
  display: none;
}

.post-card:hover .post-infos {
  position: absolute;
  top: 0;
  z-index: 5;
  display: flex;
  color: white;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.3);
  height: 150px;
  width: 150px;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  animation: fade-in 0.3s;
}

.post-infos p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  margin-right: 5px;
}

@keyframes fade-in {
  0% { opacity: 0 }
  100% { opacity: 1 }
}